# This .gitignore file specified the files to exclude from the git project.

# Pycharm Files
.idea

# VS Code Files
.vscode

# Python Files
*.pyc
*.pyo

# Python Environments
/venv

# Pyinstaller Files
/build
/dist

# Packing files
/sqlite_dissect.egg-info
/sqlite_dissect/sqlite_dissect.egg-info

# Other
/output
/log
/case
/.pytest_cache
/.coverage
/htmlcov
/docs/build
