# This .gitignore file specified the files to exclude from the git project.

# Pycharm Files
.idea

# VS Code Files
.vscode

# VS files
.vs

# Python Files
*.pyc
*.pyo

# Python Environments
/venv

# Pyinstaller Files
/build
/dist

# Packing files
/sqlite_dissect.egg-info
/sqlite_dissect/sqlite_dissect.egg-info

# testing
/sqlite_dissect/tests/log_files/
/abc
/xyz

# Other
/output
/log

# PyTest and Coverage
/case
/.pytest_cache
/htmlcov
/docs/build
*.coverage

