name: Build Pipeline

on: [ push ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Once we move to Python 3.x, this can be tested against multiple Python versions. eg. [3.6, 3.7, 3.8, 3.9]
        python-version: [ 2.7 ]

    steps:
      # Get the code from the repository to be packaged
      - name: Get Repo
        uses: actions/checkout@v2

      # Setup the Python environment (currently Python 2.7). This will need to be
      # updated when the project is upgraded to Python 3.x
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      # Install the packages to build the SQLite Dissect package
      - name: Prepare Build Environment
        run: |
          python -m pip install --upgrade pip
          python setup.py install
          pip install flake8 pytest pytest-cov build twine wheel

      # Lint the Python code to check for syntax errors
      - name: Lint with Flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      # Test the Python unit tests
      - name: PyTest
        run: |
          # Create the directory for the test output
          mkdir output
          # Run the test suite
          pytest --cov-report term-missing --cov-report html --cov=sqlite_dissect --cov-config=.coveragerc

      # Run the CASE validation job to confirm the output is valid
      - name: CASE Export Validation
        uses: kchason/case-validation-action@v1
        with:
          case-path: ./output/case.json

      # Upload the PyTest HTML coverage report for review
      - name: Upload PyTest Coverage
        uses: actions/upload-artifact@v2
        with:
          name: code-coverage-report
          path: htmlcov

      # Set the environment variable for the Git tag to pass along to the build
      # process in the next step
      - name: Set Environment
        if: startsWith(github.ref, 'refs/tags')
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $TAG_VERSION

      # Build the Sphinx documentation into a PDF for easier distribution
      - name: Build Documentation
        run: |
          pip install sphinx
          sphinx-build -b html ./docs/source/ ./docs/build/

      # Upload the HTML documentation for distribution
      - name: Upload HTML Docs
        uses: actions/upload-artifact@v2
        with:
          name: html-docs
          path: ./docs/build/html/

      # Build the binary wheel as well as the source tar
      - name: Build Objects
        if: startsWith(github.ref, 'refs/tags')
        run: python setup.py sdist bdist_wheel

      # Ensure the objects were packaged correctly and there wasn't an issue with
      # the compilation or packaging process.
      - name: Check Objects
        if: startsWith(github.ref, 'refs/tags')
        run: twine check dist/*

      # If this commit is the result of a Git tag, push the wheel and tar packages
      # to the PyPi registry
      - name: Publish to PyPI
        if: startsWith(github.ref, 'refs/tags')
        run: twine upload --repository-url https://upload.pypi.org/legacy/ -u __token__ -p ${{ secrets.PYPI_API_TOKEN }} --skip-existing --verbose dist/*
